﻿@page "/pracownicy"
@inject HttpClient Http
@inject Services.EmployeeService EmployeeService
@inject Services.DepartmentService DepartmentService
@using System.Threading;
<h3>Lista pracowników</h3>
@{
    <DxDataGrid @ref="grid"
                DataAsync="@EmployeeService.GetEmployeesEditableAsync"
                KeyFieldName="@nameof(Exercise_01.Shared.Employee.ID)"
                RowRemovingAsync="@OnRowRemovingAsync"
                RowUpdatingAsync="@OnRowUpdatingAsync"
                RowInsertingAsync="@OnRowInsertingAsync"
                InitNewRow="@OnInitNewRowAsync"
                EditMode="@CurrentEditMode"
                CssClass="mw-1100">
        <Columns>
            <DxDataGridCommandColumn />
            <DxDataGridColumn Caption="Id" Field="@nameof(Exercise_01.Shared.Employee.ID)" EditorVisible="false" />
            <DxDataGridColumn Caption="Firstname" Field="@nameof(Exercise_01.Shared.Employee.FirstName)" />
            <DxDataGridColumn Caption="Surname" Field="@nameof(Exercise_01.Shared.Employee.Surname)" />
            <DxDataGridComboBoxColumn Caption="Department" Field="@nameof(Exercise_01.Shared.Employee.DepartmentID)" DataAsync="@DepartmentService.GetDepartmentsEditableAsync" ValueFieldName="@nameof(Exercise_01.Shared.Department.ID)" TextFieldName="@nameof(Exercise_01.Shared.Department.Name)" />
        </Columns>
    </DxDataGrid>
}
@code {
    DataGridEditMode currentEditMode = DataGridEditMode.PopupEditForm;
    DataGridEditMode CurrentEditMode
    {
        get => currentEditMode;
        set
        {
            if (currentEditMode != value)
            {
                currentEditMode = value;
                CancelEdit();
            }
        }
    }
    private DxDataGrid<Exercise_01.Shared.Employee> grid;
    async Task OnRowRemovingAsync(Exercise_01.Shared.Employee dataItem)
    {
        await EmployeeService.RemoveEmployeeAsync(dataItem);
        StateHasChanged();
    }
    async Task OnRowUpdatingAsync(Exercise_01.Shared.Employee dataItem, IDictionary<string, object> newValues)
    {
        await EmployeeService.UpdateEmployeeAsync(dataItem, newValues);
        StateHasChanged();
    }
    async Task OnRowInsertingAsync(IDictionary<string, object> newValues)
    {
        await EmployeeService.InsertEmployeeAsync(newValues);
        StateHasChanged();
    }
    async Task OnInitNewRowAsync(Dictionary<string, object> values)
    {
        values.Add(nameof(Exercise_01.Shared.Employee.FirstName), "John");
        values.Add(nameof(Exercise_01.Shared.Employee.Surname), "Doe");
        await Task.CompletedTask;
    }
    void CancelEdit()
    {
        var cancelTask = Task.Run(async () => await grid.CancelRowEdit());
        cancelTask.GetAwaiter().GetResult();
    }
}