﻿<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
        
        <DxTreeViewNode NavigateUrl="pracownicy" Text="Pracownicy"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="dzialy-firmy" Text="Działy firmy"></DxTreeViewNode>
    </Nodes>
</DxTreeView>
</div>

@code {
    [Parameter] public string StateCssClass { get; set; }
}
